body { 
    background-color: #4a8864;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 150px;
}

.cabecalho { 
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.cabecalho .container {
    display: flex;
    align-items: center;
    flex-direction: right;
}

.cabecalho figure img {
    width: 100%;
    max-width: 140px;
}

.cabecalho .cabecalho__logopicpro {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    margin-right: 15px;
}